<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <h1><%= title %></h1>
      <hr />
      <ul class="message-list">
        <% messages.forEach((message, index) => { %>
        <li class="message-item">
          <div class="message-card">
            <h3 class="message-user">From: <%= message.username %></h3>
            <p class="message-text"><%= message.text %></p>
            <p class="message-date">
              Date: <%= message.added.toDateString() %>
            </p>
            <% if (msgIndex == null) { %>
            <a href="/<%= index %>" class="btn">Open</a>
            <% } %>
          </div>
        </li>
        <% }); %>
      </ul>
      <div class="action-button">
        <% if (msgIndex >= 0) { %>
        <a href="/" class="btn">Back</a>
        <% } else { %>
        <a href="/new" class="btn">New</a>
        <% } %>
      </div>
    </div>
  </body>
</html>
